@model InstructorVM

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<hr />
<h4>Instructor</h4>

<section class="container mb-2">
    <article class="col-4">
        <div>
            <span class="fw-bold">Name:</span>
            <span class="ms-2">@Model.Name</span>
        </div>

        <div>
            <span class="fw-bold">Age:</span>
            <span class="ms-2">@Model.Age</span>
        </div>

        <div>
            <span class="fw-bold">Address:</span>
            <span class="ms-2">@Model.Address</span>
        </div>

        <div>
            <span class="fw-bold">Salary:</span>
            <span class="ms-2">@Model.Salary</span>
        </div>

        <div>
            <span class="fw-bold">Department: </span>
            @if (@Model.Department is not null)
            {
                <span class="ms-2">@Model.Department.Name</span>
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    this instructor not assign to any department yet
                </div>
            }
        </div>

        <div>
            <span class="fw-bold">Course: </span>
            @if (@Model.Course is not null)
            {
                <span class="ms-2">@Model.Course.Name</span>
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    this instructor not assign to any Course yet
                </div>
            }
        </div>
    </article>
</section>

<a asp-action="index" class="btn btn-secondary"><i class="bi bi-x-lg"></i> Cancel</a>