@model CourseVM

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<hr />
<h4>Course</h4>

<section class="container mb-2">

    <span class="fw-bold">Name:</span>
    <span class="ms-2">@Model.Name</span>
    <br />

    <span class="fw-bold">Max Degree:</span>
    <span class="ms-2">@Model.MaxDegree</span>
    <br />

    <span class="fw-bold">Min Degree:</span>
    <span class="ms-2">@Model.MinDegree</span>
    <br />

    <div>
        <span class="fw-bold">Departments:</span>
        @if (@Model.Department is not null)
        {
            <span class="ms-2">@Model.Department.Name</span>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                this course not assign to department yet
            </div>
        }
    </div>

    <div>
        <span class="fw-bold">Instructors:</span>
        @if (Model.Instructors.Any())
        {
            @foreach (var instructor in Model.Instructors)
            {
                <span class="ms-2">@instructor.Name</span>
            }
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                this course not have any instructors yet
            </div>
        }
    </div>

    <div>
        <span class="fw-bold">Number Of Students:</span>
        @if (Model.StudentCourses.Any())
        {
            <span class="ms-2">@Model.StudentCourses.Count()</span>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                this course not have any Students yet
            </div>
        }
    </div>
</section>

<a asp-action="index" class="btn btn-secondary"><i class="bi bi-x-lg"></i> Cancel</a>