@model CourseVM

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<hr />
<h4>Course</h4>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            <span>Name: @Model.Name</span>
        </dt>
        <dd class="col-sm-10">
            <span>Max Degree: @Model.MaxDegree</span>
        </dd>
        <dt class="col-sm-2">
            <span>Min Degree: @Model.MinDegree</span>
        </dt>
        <dt class="col-sm-2">
            <span>Departments: </span>
            @if (@Model.Department is not null)
            {
                <span>@Model.Department.Name</span>
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    this course not assign to any department yet
                </div>
            }
        </dt>
        <dt class="col-sm-2">
            <span>Instructors: </span>
            @if (Model.Instructors.Any())
            {
                @foreach (var instructor in Model.Instructors)
                {
                    <p>@instructor.Name</p>
                }
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    this course not have any instructors yet
                </div>
            }
        </dt>
        <dt class="col-sm-2">
            <span>number of student: </span>
            @if (Model.StudentCourses.Any())
            {
                <span>@Model.StudentCourses.Count()</span>
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    this course not have any students yet
                </div>
            }
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
