@model StudentVM

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<hr />
<h4>Student</h4>

<section class="container mb-2">

    <span class="fw-bold">Name:</span>
    <span class="ms-2">@Model.Name</span>
    <br />

    <span class="fw-bold">Age:</span>
    <span class="ms-2">@Model.Age</span>
    <br />

    <span class="fw-bold">Address:</span>
    <span class="ms-2">@Model.Address</span>
    <br />

    <div>
        <span class="fw-bold">Department: </span>
        @if (@Model.Department is not null)
        {
            <span class="ms-2">@Model.Department.Name</span>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                this student not assign to any department yet
            </div>
        }
    </div>

@*    <div>
        <span class="fw-bold">Course: </span>
        @if (@Model.StudentCourses is not null)
        {
            @foreach (var course in @Model.StudentCourses)
            {
                <span class="ms-2">@course.Course.Name</span>
            }
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                this student not assign to any Course yet
            </div>
        }
    </div>*@

</section>

<a asp-action="index" class="btn btn-secondary"><i class="bi bi-x-lg"></i> Cancel</a>