@model StudentVM

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<hr />
<h4>Student</h4>

<section class="container mb-2">
    <article class="col-4">
        <div>
            <span class="fw-bold">Name:</span>
            <span class="ms-2">@Model.Student.Name</span>
        </div>

        <div>
            <span class="fw-bold">Age:</span>
            <span class="ms-2">@Model.Student.Age</span>
        </div>

        <div>
            <span class="fw-bold">Address:</span>
            <span class="ms-2">@Model.Student.Address</span>
        </div>

        <div>
            <span class="fw-bold me-2">Department: </span>
            @if (@Model.Student.Department is not null)
            {
                <span>@Model.Student.Department.Name</span>
            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    this student not assign to any department yet
                </div>
            }
        </div>

        @if (@Model.Courses.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Course</th>
                        <th>Degree</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var course in Model.Courses)
                    {
                        <tr>
                            <td>@course.Name</td>
                            @foreach (var studentWithCourse in Model.StudentCourses)
                            {
                                if (course.Id == studentWithCourse.CourseId)
                                {
                                    <td>@studentWithCourse.StudentDegree</td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div>
                <span class="fw-bold me-2">Courses: </span>
                <div class="alert alert-warning" role="alert">
                    this student not assign to any course yet
                </div>
            </div>
        }
    </article>
</section>

<a asp-action="index" class="btn btn-secondary"><i class="bi bi-x-lg"></i> Cancel</a>


@*    <div>
    <span class="fw-bold">Course: </span>
    @if (@Model.StudentCourses is not null)
    {
    @foreach (var course in @Model.StudentCourses)
    {
    <span class="ms-2">@course.Course.Name</span>
    }
    }
    else
    {
    <div class="alert alert-warning" role="alert">
    this student not assign to any Course yet
    </div>
    }
    </div>*@