@model IEnumerable<Department>

@{
    ViewBag.Title = "All Departments";
}

@if (Model.Any())
{
    <caption>All Departments</caption>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Department
                </th>
                <th>
                    Manager
                </th>
                <th>
                    Controls
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Manager
                    </td>
                    <td>
                        <a href="#" data-route="@item.Id" onclick="ajaxCall(event)">Details</a> |
                        <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                        <i class="bi bi-trash3"></i><partial name="_Delete" model="@item" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>there is no data found</p>
}

<a asp-action="create" class="btn btn-primary">
    <i class="bi bi-plus-circle"></i>Add New Department 
</a>

<div id="partial"></div>

@section Scripts
{
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function ajaxCall(event) {
      var departmentId = $(event.target).attr("data-route");
      console.log(departmentId);
      $.ajax({
        url: "/Department/Details/",
        data: { id: departmentId },
        success: function (result) {
          $("#partial").html(result);
        },
      });
    }
</script>
}