@*@model IEnumerable<StudentCourseVM>

@{
    ViewBag.Title = "All Students";
}
<h2>All Students</h2>
<hr />
@if (Model.Any())
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Age
                </th>
                <th>
                    Address
                </th>
                <th>
                    Department
                </th>
                <th>
                    Controls
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Age
                    </td>
                    <td>
                        @item.Address
                    </td>
                    <td>
                        @if (@item.Department is not null)
                        {
                            <span>@item.Department.Name</span>
                        }
                        else
                        {
                            <span class="alert alert-warning" role="alert">
                                this instructor not assign to any Course yet
                            </span>
                        }
                    </td>
                    <td>
                        <i class="bi bi-ticket-detailed"></i> <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <i class="bi bi-pencil-square"></i> <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                        <i class="bi bi-trash3"></i> <partial name="_Delete" model="@item" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        there is no data found
    </div>
}

<a asp-action="create" class="btn btn-primary">
    <i class="bi bi-plus-lg"></i> Add New Student
</a>
*@